[submodule ".vim/bundle/vim-listfile"]
	path = .vim/bundle/vim-listfile
	url = git://github.com/lucasoman/vim-listfile.git
[submodule ".vim/bundle/vim-mysqltools"]
	path = .vim/bundle/vim-mysqltools
	url = git://github.com/lucasoman/vim-mysqltools.git
[submodule ".vim/bundle/vim-svntools"]
	path = .vim/bundle/vim-svntools
	url = git://github.com/lucasoman/vim-svntools.git
[submodule ".vim/bundle/vim-sessions"]
	path = .vim/bundle/vim-sessions
	url = git://github.com/lucasoman/vim-sessions.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/NERD_tree"]
	path = .vim/bundle/NERD_tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/vim-buffergator"]
	path = .vim/bundle/vim-buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
